/*Courses*/

.courses-title {
    font-size: 55px;
}

.courses {
    width: 100%;
    height: auto;
    background-color: #F6F8FA;

    padding-top: 70px;
}

.courses-list {
    margin: 80px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 89px 89px;
    justify-content: center;
}

.courses-item {
    position: relative;
    background-color: white;
    width: 375px;
    height: auto;
    text-align: center;

    border-radius: 20px;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
}

.courses-item-img {
    padding: 0 0 53% 0;
    overflow: hidden;
    position: relative;
    border-radius: 20px 20px 0 0;
}

.courses-item:hover .courses-item-video-wrapper {
    display: block;
}

.courses-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
}

.courses-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 100px;
    height: auto;
}

.courses-name {
    font-family: 'Marmelad', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1;

    margin-top: 15px;
}

.courses-skills {
    text-align: left;
    font-size: 20px;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 20px;

    opacity: 0.8;
}

.courses-skills li::first-letter {
    text-transform: capitalize;
}

.courses-data {
    display: inline-block;
    font-size: 20px;
    line-height: 140%;
    opacity: 0.5;
}

.courses-data i {
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.courses-btn {
    font-size: 25px !important;
    padding: 2px 35px 9px 35px !important;

    position: absolute;
    bottom: 30px;
}

.courses-spinner {
    display: flex;
    justify-content: center;
    background-color: #F6F8FA;
    padding: 5% 0 0 0;
}

.courses-item-video {
    position: absolute;
    top: 0;
    left: 0;
}

.courses-item-video-wrapper {
    position: relative;
    display: none;
}

@media (max-width: 1363px) {
    /*Courses*/

    .courses-list {
        gap: 58px 58px;
    }
}

@media (max-width: 1300px) {
    /*Courses*/

    .courses-title {
        font-size: 50px;
    }

    .courses {
        padding: 60px 0;
    }

    .courses-list {
        margin: 60px 0;
    }

    .courses-name {
        font-size: 31px;
    }

    .courses-exp {
        font-size: 19px;
    }

}

@media (max-width: 768px) {
    .courses {
        padding-top: 30px;
    }

    .courses-title {
        font-size: 45px;
    }

    .courses-list {
        margin: 40px 0;
    }

    .courses-name {
        font-size: 29px;
        margin-top: 25px;
    }

    .courses-exp {
        font-size: 18px;
    }

    .courses-prof {
        margin-bottom: 15px;
        margin-top: 20px;
    }

}

@media (max-width: 576px) {
    .courses-title {
        font-size: 40px;
    }

    .courses-skills,
    .courses-data {
        font-size: 17px;
    }

    .courses-name {
        font-size: 26px;
    }

    .courses-exp {
        font-size: 17px;
    }

    .courses-item {
        width: 345px;
    }

    .courses-list {
        gap: 33px 33px;
    }

    .courses-info {
        padding-bottom: 85px;
    }

    .courses-btn {
        font-size: 21px !important;
        bottom: 25px;
    }
}

@media (max-width: 425px) {

    .courses-skills {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .courses-title {
        font-size: 35px;
    }

    .courses-list {
        margin: 25px 0;
    }

    .courses-name {
        font-size: 24px;
        margin-top: 20px;
    }

    .courses-exp {
        font-size: 16px;
    }

    .courses-prof {
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media (max-width: 375px) {

    .courses-skills,
    .courses-data {
        font-size: 16px;
    }
}