.footer {
    background-color: #E5E5E5;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-iner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 41px 0;
}

.footer-name {
    font-size: 18px;
}

.footer-text {
    font-size: 16px;
}

.footer-text-right {
    text-align: end;
}

.footer-link {
    display: inline-block;

    text-decoration: none;
    color: #000000;
    font-size: 16px;
    line-height: 1;
    vertical-align: top;
    margin-top: 5px;
}

.footer-link+.footer-link {
    margin-right: 20px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-icons {
    display: inline-block;

    text-decoration: none;
    color: #000000;
    font-size: 20px;
    vertical-align: top;
    margin-top: -3px;
    margin-right: 5px;
}

.footer-icons:hover {
    color: #0085FF;
}

@media (max-width: 1065px) {
    .footer-iner {
        flex-wrap: wrap;
    }

    .footer-item {
        width: 50%;
    }

    .footer-item:nth-child(2) {
        order: 1;
    }

    .footer-item:nth-child(3) {
        order: 1;
        text-align: end;
    }

    .footer-item:nth-child(4) {
        margin-bottom: 10px;
        text-align: end;
    }
}

@media (max-width: 768px) {
    .footer-item {
        width: 100%;
        text-align: center;
    }


    .footer-item:nth-child(1) {
        margin-bottom: 10px;
    }

    .footer-item:nth-child(3) {
        order: -1;
        text-align: center;
    }

    .footer-item:nth-child(4) {
        text-align: center;
        order: 2;
    }

    .footer-text-right {
        text-align: center;
    }

    .footer-iner {
        padding: 20px 0;
    }
}